<h1> Posts </h1>
<ul>
    <% @post.each do |post| %>
        <li>
            <%= link_to post.title, post %>
        </li>
    <% end %>
    <li>
        <%= link_to "Add New Post", new_post_path %>
    </li>
</ul>
